source https://api.nuget.org/v3/index.json
storage: none

framework: auto-detect

nuget FSharp.Core

nuget Dapper.FSharp ~> 3
nuget Giraffe
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget npgsql
nuget Ply
